<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="dd0dca70-49c5-4919-b060-70d6598a38d3" Publisher="CN=HealthAndFitness" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HealthAndFitness</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HealthAndFitness.App">
      <VisualElements DisplayName="HealthAndFitness" Logo="Assets\SmallLogo.png" SmallLogo="Assets\30pxLogo.png" Description="HealthAndFitness" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile WideLogo="Assets\WideLogo.png" ShortName="Health &amp; Fitness" ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>